@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f3f5f5;
    color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* header and logo */

header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 200px;
    padding-left: 30px;
}

/* navigation links */

#menu {
    margin-right: 10px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

#menu a:hover {
    border-bottom: 2px solid #e8c27a;
}

.active {
    border-bottom: 2px solid #e8c27a;
}

/* hero section */

#hero-outer {
    height: 600px;
    width: 100%;
}

#hero-image {
    background: linear-gradient(rgba(61,30,43,0.8),rgba(61,30,43,0.8)),url(../images/hero-image.webp);
    height: 100%;
    background-size: cover;
}

#hero-text {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 300px;
    color: #e8c27a;
    text-align: center;
}

#hero-text h1 {
    font-size: 500%;
}

/* services */

#services {
    width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#services h3 {
    text-align: center;
    margin-bottom: 30px;
}

#services h2 {
    padding: 30px 0;
}

#services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#services-container div {
    width: 30%;
    height: 540px;
    margin: 0 30px;
    text-align: center;
    padding: 0px 30px;
    color: #e8c27a;
}

#services #digital-marketing {
    background: linear-gradient(rgba(61,30,43,0.9),rgba(61,30,43,0.9)),url(../images/digital-marketing.webp);
    background-size: cover;
}

#services #photography-videography{
    background: linear-gradient(rgba(61,30,43,0.9),rgba(61,30,43,0.9)),url(../images/photography-videography.webp);
    background-size: cover;
}

#services #digital-analysis {
    background: linear-gradient(rgba(61,30,43,0.9),rgba(61,30,43,0.9)),url(../images/digital-analysis.webp);
    background-size: cover;
}

#services-container div:hover {
    /* animates zoom effect when hovering */
    animation-name: services-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for services images */
@keyframes services-zoom {
    from {
         transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* testimonials */

#testimonials {
    width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}

#testimonials h3 {
    text-align: center;
    margin-bottom: 30px;
}

.testimonial-boxes {
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    display: flex;
}

#testimonial1-image, #testimonial2-image, #testimonial3-image {
    border: 10px solid #e8c27a;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

#testimonial1-image {
    background: url(../images/testimonial1-image.webp) center;
    background-size: cover;
}

#testimonial2-image {
    background: url(../images/testimonial2-image.webp) center;
    background-size: cover;
}

#testimonial3-image {
    background: url(../images/testimonial3-image.webp) center;
    background-size: cover;
}

.testimonial-quote {
    text-align: center;
    width: 75%;
    padding: 15px;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    background-color: #e8c27a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div {
    margin: 30px;
}

.social-media li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 200%;
}

.social-media li:hover {
    color: #662a42;
}