@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f3f5f5;
    color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* header and logo */

header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    max-width: 200px;
    padding-left: 30px;
}

/* navigation links */

#menu {
    margin-right: 10px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

#menu a:hover {
    border-bottom: 2px solid #e8c27a;
}

.active {
    border-bottom: 2px solid #e8c27a;
}

/* hero section */

#hero-outer {
    height: 600px;
    width: 100%;
}

#hero-image {
    background: linear-gradient(rgba(61,30,43,0.8),rgba(61,30,43,0.8)),url(../images/hero-image.webp);
    height: 100%;
    background-size: cover;
}

#hero-text {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 300px;
    color: #e8c27a;
    text-align: center;
}

#hero-text h1 {
    font-size: 500%;
}

/* services */

#services {
    width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#services h3 {
    text-align: center;
    margin-bottom: 30px;
}

#services h2 {
    padding: 30px 0;
}

#services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#services-container div {
    width: 30%;
    height: 540px;
    margin: 0 30px;
    text-align: center;
    padding: 0px 30px;
    color: #e8c27a;
}

#services #digital-marketing {
    background: linear-gradient(rgba(61,30,43,0.9),rgba(61,30,43,0.9)),url(../images/digital-marketing.webp);
    background-size: cover;
}

#services #photography-videography{
    background: linear-gradient(rgba(61,30,43,0.9),rgba(61,30,43,0.9)),url(../images/photography-videography.webp);
    background-size: cover;
}

#services #digital-analysis {
    background: linear-gradient(rgba(61,30,43,0.9),rgba(61,30,43,0.9)),url(../images/digital-analysis.webp);
    background-size: cover;
}

#services-container div:hover {
    /* animates zoom effect when hovering */
    animation-name: services-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for services images */
@keyframes services-zoom {
    from {
         transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* testimonials */

#testimonials {
    width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}

#testimonials h3 {
    text-align: center;
    margin-bottom: 30px;
}

.testimonial-boxes {
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    display: flex;
}

#testimonial1-image, #testimonial2-image, #testimonial3-image {
    border: 10px solid #e8c27a;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

#testimonial1-image {
    background: url(../images/testimonial1-image.webp) center;
    background-size: cover;
}

#testimonial2-image {
    background: url(../images/testimonial2-image.webp) center;
    background-size: cover;
}

#testimonial3-image {
    background: url(../images/testimonial3-image.webp) center;
    background-size: cover;
}

.testimonial-quote {
    text-align: center;
    width: 75%;
    padding: 15px;
}

/* contact form */

#contact {
    height: 900px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
}

#contact h3 {
    text-align: center;
}

#contact-form {
    width: 400px;
    margin: 30px auto 0;
    padding: 40px;
    color: #fbfbfb;
    background-color: #662a42;
    border-radius: 10px;
}

.input-text {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 5px;
    height: 20px;
    border-radius: 5px;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
}

#submit-button {
    width: 100px;
    position: relative; 
    margin-top: 20px;
    background-color: #e8c27a;
    color: #fbfbfb;
    font-size: 100%;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

/* map */

#map-container {
    margin: 60px auto;
    height: 400px;
    width: 50%;
  }

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    background-color: #e8c27a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div {
    margin: 30px;
}

.social-media li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 200%;
}

.social-media li:hover {
    color: #662a42;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #services {
        height: 450px;
    }
    #services-container div {
        height: 390px;
    }

    #testimonial1-image, #testimonial2-image, #testimonial3-image {
        border: 8px solid #e8c27a;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}

/* for medium sized screens from 950px wide and down */

@media screen and (max-width: 950px) {
    #testimonial1-image, #testimonial2-image, #testimonial3-image {
        display: none;
    }

    .testimonial-quote {
        width: 100%;
    }
}

/* for mobile screen devices from 800px wide and down */

@media screen and (max-width: 800px) {

    header {
        display: block;
        margin-top: 30px;
    }

    #menu li {
        padding: 5px 5px;
        margin: 0;
        font-size: 75%;
    }

    #hero-outer {
        height: 450px;
    }

    #hero-text h1 {
        font-size: 300%;
    }

    #services-container {
        display: block;
    }

    #services-container div {
        width: 90%;
        height: 125px;
        margin: 10px auto;
        padding: 0;
    }

    #services h2 {
        font-size: 100%;
        padding: 10px 0;
    }

    #services p {
        font-size: 75%;
    }

    #testimonials {
        height: 450px;
    }
    
    .testimonial-boxes {
        width: 95%;
        margin: 0 auto;
        padding: 10px;
    }

    .testimonial-quote {
        padding: 0;
        font-size: 90%;
    }

    #contact-form {
        width: 75%;
        font-size: 80%;
        padding: 20px;
    }

    #map-container {
        width: 75%;
    }

    footer div {
        margin: 15px;
        font-size: 80%;
    }

    .social-media li {
        font-size: 125%;
        padding: 5px 10px;
    }
}
